.author__avatar img {
  border-radius: 10px;
}



@import "minimal-mistakes";
.site-logo img {
  animation: earth-spin 20s linear infinite;
  transform-origin: center;
}

@keyframes earth-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
